/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "Verdana";
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*    Company Info    */
.company-info{
    width: 100%;
    height: 400px;
    position: relative;
}

#mapid { 
    height: 500px;
    width: 500px;
}

#address {
    font-family: "Verdana";
    font-size: 14px;
    text-align: center;
}


.company-info .caption{
    margin-top: 130px;
    text-align: center;
    color: black;
}

.company-info .caption h1{
    font-family: "Verdana";
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.company-info .caption p{
    font-family: "Verdana";
    font-size: 18px;
    margin-bottom: 30px;
    color: "black";
}

.company-info .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
    background: "black";
}



/*    Header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "Verdana";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: "black";
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}






/*    visualizations    */
.visualizations ul{
    margin-top: 100px;
}

.visualizations ul li{
    list-style: none;
    display: block;
    width: 313px;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.visualizations ul li:first-child{
    margin-left: 0;
}

.visualizations ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.visualizations ul li h2{
    color: #616161;
    font-family: "Verdana";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.visualizations ul li p{
   color: #838181;
    font-family: "Verdana";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}



.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "Verdana";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "Verdana";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}







/*    user-reviews    */
.user-reviews{
    margin-top: 100px;
}

.user-reviews ul{
    margin-top: 70px;
    list-style: none;
}

.user-reviews ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}

.user-reviews ul li:first-child{
    margin-left: 0;
}

.user-reviews ul li .quotes{
    margin-right: 10px;
}

.user-reviews ul li p{
    color: #838181;
    font-family: "Verdana";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}

.user-reviews ul li .client{
    margin-left: 20px;
}

.user-reviews ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.user-reviews ul li .client .client_details{
    float: left;
}

.user-reviews ul li .client .client_details h4{
    color: #7b7979;
    font-family: "Verdana";
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.user-reviews ul li .client .client_details h5{
    color: #7b7979;
    font-family: "Verdana";
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}



/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "Verdana";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "Verdana";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "Verdana";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}