/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "Helvetica", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*    header    */
header{
    width: 100%;
    height: 125px;
}
header .company h2{
    float: left;
    color: #838181;
    font-family: "Helvetica";
    font-size: 50px;
    margin-top: 40px;
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "Helvetica";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}

#mapid { height: 300px; }

.basic{
    background-color: #B0C4DE;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
}

.basic h2{
    margin-top: 40px;
}

.basic p {
    font-family: "helvetica";
    font-size: 14px;
    color: #616161;
    padding-bottom: 30px;
}

.info p{
    font-family: "helvetica";
    font-size: 14px;
    color: #616161;
    padding-top: 5px;
    padding-bottom:10px;
}

.info ul li{
    list-style: none;
    display: block;
    width: 200px;
    float: left;
    margin-left: 80px;
    text-align: center;
}


.pie text {
  font-family: "Helvetica";
  fill: white;
}

.pie .name-text{
  font-size: 1em;
}

.pie .value-text{
  font-size: 3em;
}

.bar-line {
  fill: #F38630;
}


.domain,
.tick,
.tick line {
  stroke: #62D2E7;
}

/*    viz    */
.viz {
    background-color: teal;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.viz h2{
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-family: "Helvetica";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    text-align: center;

}

.viz ul{
    margin-top: 20px;
}

.viz ul li{
    list-style: none;
    display: block;
    width: 313px;
    float: left;
    margin-left: 70px;
    text-align: center;
}


.viz ul li .separator{
    width: 1px;
    display: block;
    height: 5px;
    margin: 5px auto;
}

.viz ul li h2{
    color: white;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.viz ul li p{
   color: white;
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}



.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "Helvetica";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "Helvetica";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}


.labor{
    background-color: teal;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}


.labor ul li{
    list-style: none;
    display: block;
    width: 500px;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.labor h2{  
    color: white;
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    text-align: center;
}

#backwages {
    text-align: center;
    font-family: "Helvetica";
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
}

#violations {
    text-align: center;
    font-family: "Helvetica";
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
}
/*    testimonials    */
.testimonials{
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #B0C4DE;
}

.testimonials ul{
    margin-top: 70px;
    list-style: none;
}

.testimonials ul li{
    display: block;
    float: left;
    margin-left: 70px;
    width: 313px;
}


.testimonials ul li .quotes{
    margin-right: 10px;
}

.testimonials ul li p{
    color: #838181;
    font-family: "Helvetica";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}


.testimonials ul li .client{
    margin-left: 20px;
}

.testimonials ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.testimonials ul li .client .client_details{
    float: left;
}

.testimonials ul li .client .client_details h4{
    color: #7b7979;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.testimonials ul li .client .client_details h5{
    color: #7b7979;
    font-family: "Helvetica";
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}







/*    blog posts    */
.blog_posts{
    margin-top: 100px;
    padding: 100px 0;
    background: #fafafa;
}

.blog_posts ul{
    list-style: none;
    margin-top: 70px;
}

.blog_posts ul li{
    display: block;
    width: 230px;
    margin-left: 60px;
    float: left;
}

.blog_posts ul li:first-child{
    margin-left: 0;
}

.blog_posts ul li .media .date{
    position: absolute;
    top: 0;
    left: 30px;
    width: 40px;
    padding: 10px 0;
    background: rgba(62, 62, 62, .7);
    text-align: center;
}

.blog_posts ul li .media .date span{
    display: block;
}

.blog_posts ul li .media .date .day{
    color: #fff;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;

}

.blog_posts ul li .media .date .month{
    color: #fff;
    font-family: "raleway-regular";
    font-size: 12px;
}

.blog_posts ul li .media{
    width: 230px;
    height: 230px;
    position: relative;
}

.blog_posts ul li h1{
    color: #616161;
    font-family: "raleway-regular";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    margin: 20px 0 0 0;
}







/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "Helvetica";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "Helvetica";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "Helvetica";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}